@{
    ViewData["Title"] = "Home Page";
}
@using PraktikPortalen.Controllers;

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>@HomeController.getWelcomeMessage()</p>
</div>
